* {
  box-sizing: border-box;
}

.dark {
  --bg: #303030;
  --text: white;
  --highlight: #575757;
  --header: #222;
  --footer: #222;
  --gear: #cfcfcf;
  --symbol: white;
  --services:#575757;
}
.light {
  --bg: #ffffff;
  --text: black;
  --highlight: #b8b8b8;
  --header: #dfdfdf;
  --footer: #dfdfdf;
  --gear: #707070;
  --symbol: black;
  --services:#b8b8b8;
}

body {
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-size: 22px;
}

.banner {
  width: 90%;
  border: 2px black solid;
  border-radius: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header);
  padding: 0.4rem 0.8rem;
}

.nav > ul {
  display: flex;
  list-style: none;
  gap: 0.4rem;
}

.nav > ul a {
  text-decoration: none;
  padding: 0.5rem;
  background-color: var(--highlight);
  border-radius: 12px;
  transition: filter 200ms ease-in-out;
  color: var(--text);
}

.nav > ul a:hover {
  filter: invert();
}

.gear {
  width: 64px;
  fill: var(--gear);
  transition: transform 300ms ease-in-out;
}

.gear:hover {
  transform: rotate(270deg);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--footer);
  margin-top: auto;
}

.light-switch {
  aspect-ratio: 1/1;
  background-color: var(--highlight);
  border: none;
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
  transition: filter 200ms ease-in-out;
}

.light-switch:hover{
  filter: invert();
}

.light .light-switch > .moon {
  display: none;
}

.dark .light-switch > .sun {
  display: none;
}

.light-switch > .symbol {
  width: 28px;
  height: 28px;
  fill: var(--symbol);
}
.intro {
  text-align: center;
  margin: 40px 0;
}

.intro h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.intro p {
  font-size: 1.2em;
}

/* Seção de serviços */
.services {
  margin: 40px 0;
  text-align: center;
  width: 50%;
 justify-content: center;
 margin: auto;
}

.services h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.services ul {
  list-style: none;
  padding: 0;
}

.services ul li {
  background-color: var(--services);
  color: var(--text);
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.services ul li h3 {
  margin-top: 0;
}

.services ul li p {
  margin: 10px 0 0;
}

/* Seção de chamada para ação */
.cta {
  text-align: center;
  margin: 40px 0;
  margin-top: 50px;
}

.cta h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.cta p {
  font-size: 1.2em;
  margin-bottom: 50px;
}

.cta a {
  color: #007bff;
  text-decoration: none;
}

.cta a:hover {
  text-decoration: underline;
}
